<!-- header start -->
<header id="Home">
   <div class="header_top_bg">
      <div class="container">
     <div class="header_top">
            <ul class="header_top_left">
               <li><i class="fa fa-map-marker header_icon" aria-hidden="true"></i> 12 Royal Street, California USA</li>
               <li><i class="fa fa-phone header_icon" aria-hidden="true"></i> 001-122-134-555</li>
               <li><a href="mailto:info@marchandmartin.com" title="mailto:info@marchandmartin.com"><i class="fa fa-envelope header_3" aria-hidden="true"></i> contact@domain.com</a></li>
            </ul> 
            <div class="m_header_top_left"><p><i class="fa fa-phone header_icon" aria-hidden="true"></i> 001-122-134-555</p></div>               
            <ul class="header_top_right">
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
            </ul>
        </div>  
         </div>
      </div>
  <div class="navbar">
    <div class="container navbar_padding">
         <div class="logo">
           <a href="#">
              <!-- <img src="./assets/img/logo.png" alt="logo"> -->
              IT Training <span>Center</span>
            </a>
         </div>
         <a class="press" onclick="openNav()">
         <span></span>
         <span></span>
         <span></span>
         </a>
         <div class="menuhover" id="myNav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>            
          <ul class="menu overlay-content " >               
            <li class="active tab"><a  href="/home#Home" title="Home">Home</a></li>
            <li class="tab"><a href="/home#About"  title="About">About</a></li>
            <li class="tab"><a href="/home#SERVICES"  title="Project Gallery">SERVICES</a></li>
            <li class="tab"><a href="/home#Technology"  title="Services">Technology</a></li>
            <li class="tab"><a href="/home#WORKSHOP"  title="Blog">WORKSHOP</a></li>
            <li class="tab"><a href="/home#Contact"  title="Contact Us">Contact</a></li>
         </ul>
         <div class="hover_header_top">                
            <p><i class="fa fa-map-marker header_icon" aria-hidden="true"></i> 12 Royal Street, California USA</p>                      
            <p><a href="mailto:info@marchandmartin.com" title="mailto:info@marchandmartin.com"><i class="fa fa-envelope header_3" aria-hidden="true"></i> contact@domain.com</a></p>                                                  
         </div>
       </div>
      </div>
   </div>
</header>
<!-- header ends -->
<!-- banner ends -->
<section class="banner">
   <div class="container">
   
         <div class="header_bottom_text" data-aos="fade-up" >
            <div class=" banner_text table-cell">
               <h3>World's Largest Online Training Platform for Professionals</h3>
               <h2> IT Training Center</h2>
               <p>To Succeed in life and achieve results you must understand
                  Desire , Belief and Expectation !!.</p>
              
                  <a [routerLink]="['login']" title="Request a FREE Estimate" class="banner_btn">Sig in</a>
                  <!-- <a routerLink="/register" title="Request a FREE Estimate" class="banner_btn">Sign Up</a> -->
            </div>
         </div>
   </div>
   <a href="/home#About" class="ct-btn-scroll" title="Scroll"> <img src="./assets/img/Scroll.png" alt="Scroll"  ></a>
</section>
<!-- banner ends -->
<!-- about us start -->
<div class="About" id="About">
   <div class="container">
    <div class="row">
       <div class="col-xs-12 col-sm-7 ">
          <div class="about_text" data-aos="fade-right">
              <h5>First your Should Know</h5>
              <h2>About The <span>IT Training</span></h2>               
              <p>Lorem ips illud nonummy, novum tation et his. Royal scriptaset patrioque scribentur, at pro fugit erts verter emmolestiae, sed et vivendo ali Lorem ipsum eillud nonu here mmy, novum tation et scripta patrioque scriben tur Quisque ligulas ipsum, euismod atras vulputate iltricies. Coordinates for abs po oordi nates for abs positioning the closest position.</p>
              <a href="#" class="About_learn_btn">Learn More</a>
          </div>
       </div>
       <div class="col-xs-12 col-sm-5 ">
        <div class="about_img" data-aos="fade-left">
            <img src="./assets/img/about_studio_img_1.jpg" alt="about_studio_img_1" class="about_studio_img_1 img-responsive" />
         </div>
         </div>
     </div>
   </div>
</div>
<!-- about ends -->
<!-- functionality start -->
<div id="section2" class="functionality-bg">
   <h2>Provided <span>functionality</span></h2>
   <div class="container">
    <div class="row">
       <div class="col-md-3">
          <div class="functionality-bx">
             <div class="functionality-icon">
             <img src="./assets/img/online-traning.png" alt="">
            </div>
             <h4>Online Classes</h4>
         <p>Live Interactive Online session with your Instructor</p>
      </div>
       </div>
       <div class="col-md-3">
         <div class="functionality-bx">
            <div class="functionality-icon">
               <img src="./assets/img/online-traning.png" alt="">
              </div>
         <h4>Learn from IT-SuccessWin</h4>
         <p>Learn from Professionally trained Experts</p>
         </div>
       </div>
       <div class="col-md-3">
         <div class="functionality-bx">
            <div class="functionality-icon">
               <img src="./assets/img/online-traning.png" alt="">
              </div>
          <h4>Flexible Timings</h4>
          <p>Schedule your Class at Your Convenient Time</p>
          </div>
       </div>
       <div class="col-md-3">
         <div class="functionality-bx">
            <div class="functionality-icon">
               <img src="./assets/img/online-traning.png" alt="">
              </div>
          <h4>24x7 Support</h4>
          <p>24x7 On-Demand Support</p>
          </div>
       </div>
    </div>
   </div>
</div>
<!-- functionality ends -->
<!-- services start -->
<section class="Commitment_bg" id="SERVICES">
   <div class="container">
      <h2>Our Services</h2>
      <div class="box_model">
         <div class="box" data-aos="fade-right" data-aos-duration="1200" data-aos-duration="1200">
           
            <div  class="boxing_img">
            <img src="./assets/img/pick2.png" alt="qq">
         </div>
            <div class="box_text">
               <h3>Online Training</h3>
               <p>IT-SuccessWin is offering Online Software Training using its vast Technology Expertise and Training
                   Delivery Methodology for the benefit of the student community in transforming their dreams from a wandering generality to specific reality.</p>
            </div>
         </div>
         <div class="box" data-aos="zoom-in" data-aos-duration="1000" data-aos-duration="1200">
            <img src="./assets/img/pick3.png" alt="qq" class="boxing_img">
            <div class="box_text">
               <h3>Job Support & Project Training</h3>
               <p>IT-SuccessWin is offering Online Software Training using its vast Technology Expertise and Training
                  Delivery Methodology for the benefit of the student community in transforming their dreams from a wandering generality to specific reality.</p>
            </div>
         </div>
         <div class="box" data-aos="fade-left" data-aos-duration="1200" data-aos-duration="1200">
            <img src="./assets/img/pick4.png" alt="qq" class="boxing_img">
            <div class="box_text">
               <h3>Corporate Training</h3>
               <p>IT-SuccessWin is offering Online Software Training using its vast Technology Expertise and Training
                  Delivery Methodology for the benefit of the student community in transforming their dreams from a wandering generality to specific reality.</p>
            </div>
         </div>
      </div>
      </div>
</section>
<!-- services ends -->
<!-- subject start -->
<section class="subject" id="Technology">
   <img src="./assets/img/education-bg.png" alt="" class="doted-bg">
   <h2 class="sub-m-tit">Our Traning <span>Courses</span></h2>
   <div class="container">
      <div class="row subject-bx">
         <div class="col-md-3 col-sm-6">
            <a href="#" title="Angular">
               <div class="flip-card">
                  <div class="flip-card-inner">
                     <div class="flip-card-front">
                        <img src="./assets/img/angular.png" alt="">
                     </div>
                     <div class="flip-card-back">
                        <h3>Angular 8</h3>
                        <p>Show Full cource</p>
                     </div>
                  </div>
               </div>
            </a>
         </div>
         <div class="col-md-3 col-sm-6">
            <a href="#">
               <div class="flip-card">
                  <div class="flip-card-inner">
                     <div class="flip-card-front">
                        <img src="./assets/img/bootstrap.png" alt="">
                     </div>
                     <div class="flip-card-back">
                        <h3>Bootstrap</h3>
                        <p>Show Full cource</p>
                     </div>
                  </div>
               </div>
            </a>
         </div>
         <div class="col-md-3 col-sm-6">
            <a href="#">
               <div class="flip-card">
                  <div class="flip-card-inner">
                     <div class="flip-card-front">
                        <img src="./assets/img/Python.png" alt="">
                     </div>
                     <div class="flip-card-back">
                        <h3>Python</h3>
                        <p>Show Full cource</p>
                     </div>
                  </div>
               </div>
            </a>
         </div>
         <div class="col-md-3 col-sm-6">
            <a href="#" title="Angular">
               <div class="flip-card">
                  <div class="flip-card-inner">
                     <div class="flip-card-front">
                        <img src="./assets/img/angular.png" alt="">
                     </div>
                     <div class="flip-card-back">
                        <h3>Angular 8</h3>
                        <p>Show Full cource</p>
                     </div>
                  </div>
               </div>
            </a>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3 col-sm-6">
            <a href="#">
               <div class="flip-card">
                  <div class="flip-card-inner">
                     <div class="flip-card-front">
                        <img src="./assets/img/Python.png" alt="">
                     </div>
                     <div class="flip-card-back">
                        <h3>Python</h3>
                        <p>Show Full cource</p>
                     </div>
                  </div>
               </div>
            </a>
         </div>
         <div class="col-md-3 col-sm-6">
            <a href="#">
               <div class="flip-card">
                  <div class="flip-card-inner">
                     <div class="flip-card-front">
                        <img src="./assets/img/online-traning.png" alt="">
                     </div>
                     <div class="flip-card-back">
                        <h3>Angular 8</h3>
                        <p>Show Full cource</p>
                     </div>
                  </div>
               </div>
            </a>
         </div>
         <div class="col-md-3 col-sm-6">
            <a href="#" title="Angular">
               <div class="flip-card">
                  <div class="flip-card-inner">
                     <div class="flip-card-front">
                        <img src="./assets/img/angular.png" alt="">
                     </div>
                     <div class="flip-card-back">
                        <h3>Angular 8</h3>
                        <p>Show Full cource</p>
                     </div>
                  </div>
               </div>
            </a>
         </div>
         <div class="col-md-3 col-sm-6">
            <a href="#">
               <div class="flip-card">
                  <div class="flip-card-inner">
                     <div class="flip-card-front">
                        <img src="./assets/img/bootstrap.png" alt="">
                     </div>
                     <div class="flip-card-back">
                        <h3>Bootstrap</h3>
                        <p>Show Full cource</p>
                     </div>
                  </div>
               </div>
            </a>
         </div>
      </div>
   </div>
</section>
<!-- subject ends -->
<!-- events start -->
<div class="container">
   <div class="total_events">
      <div class="events_box" data-aos="fade-right" data-aos-duration="1200">
         <div class="events_img">
            <img src="./assets/img/icon3.png" alt="icon">
         </div>
         <div class="shiva"><span class="count">250</span>+</div>
         <p>Our Students</p>
      </div>
      <div class="events_box" data-aos="fade-right" data-aos-duration="1200">
         <div class="events_img">
            <img src="./assets/img/icon1.png" alt="icon">
         </div>
         <div class="shiva"><span class="count">10</span>+</div>
         <p>Our Professor</p>
      </div>
      <div class="events_box" data-aos="fade-left" data-aos-duration="1200">
         <div class="events_img">
            <img src="./assets/img/icon2.png" alt="icon">
         </div>
         <div class="shiva"><span class="count">15</span>+</div>
         <p>Our Cources</p>
      </div>
      <div class="events_box" data-aos="fade-left" data-aos-duration="1200">
         <div class="events_img">
            <img src="./assets/img/icon4.png" alt="icon">
         </div>
         <div class="shiva"><span class="count">300</span>+</div>
         <p>Provided Training</p>
      </div>
   </div>
</div>
<!-- events ends -->
<!-- workshop start -->
<app-workshop></app-workshop>
<router-outlet></router-outlet>
<!-- workshop ends -->
<!-- contect us start -->
<app-contect></app-contect>
<!-- contectus ends -->
<!-- footer start -->
<footer>
   <div class="container">
      <div class="footer_main">
         <div class="footer_col1" data-aos="fade-right" data-aos-duration="1200" data-aos-easing="linear">
            <div class="f_logo">
               <img src="./assets/img/header_logo.png" alt="Footer Logo">
            </div>
            <div class="call">(978) 532-3224</div>
            <address>16 Winter Street, Peabody, MA 01960</address>
            <a href="mailto:info@marchandmartin.com" title="mailto:info@marchandmartin.com" class="mailto">info@marchandmartin.com</a>
            <div class="social">
               <span><a href="#" title="Facebook"> <img src="./assets/img/1.png" alt="Facebook"> </a></span>
               <span><a href="#" title="Twitter"> <img src="./assets/img/2.png" alt="Twitter"> </a></span>
               <span><a href="#" title="Google"> <img src="./assets/img/3.png" alt="Google"> </a></span>
            </div>
         </div>
         <div data-aos="fade-right" data-aos-duration="1200" data-aos-easing="linear">
            <h3>Quick Links</h3>
            <ul class="f_link">
               <li><a href="" title="About Us">About Us</a></li>
               <li><a href="" title="Resources">SERVICES</a></li>
               <li><a href="" title="Testimonials">Technology</a></li>
               <li><a href="" title="Project Gallery">WORKSHOP</a></li>
               <li><a href="" title="FAQs">CONTACT</a></li>
            </ul>
         </div>
         <div data-aos="fade-left" data-aos-duration="1200" data-aos-easing="linear">
            <h3>Services</h3>
            <ul class="f_link">
               <li><a href="" title="Icynene Insulation">Online Training</a></li>
               <li><a href="" title="Traditional Closed Cell Polyurethane">Job Support & Project Training</a></li>
               <li><a href="" title="Infrared Thermography">Corporate Training</a></li>
            </ul>
         </div>
         <div class="Recent_Blogs" data-aos="fade-left" data-aos-duration="1200" data-aos-easing="linear">
            <h3>Recent Blogs</h3>
            <p class="color">How spray foam insulation warms up a cold room</p>
            <p >Now that winter is upon us, have you turned your 
               heat up higher than you’d like?... <a href="" title="Read More">Read More</a>
            </p>
            <p class="color">Finding A Licensed Contractor For Your Foam Installation</p>
            <p>Not all insulation is created equal, for many different 
               reasons. There are some instances... <a href="" title="Read More">Read More</a>
            </p>
         </div>
      </div>
   </div>
   <div class="container">
      <div class="footer_end" >
         <div class="copyright">
            <p>IT Training &copy; 2020 All Rights Reserved.</p>
         </div>
      </div>
   </div>
</footer>
<!-- footer ends -->